<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="Interaction/guess.css">
   <title>TedxKramuonsarSt</title>
   <script src="Interaction/component.js"></script>
</head>
<body>
   <div class="input_data">
      <form method="post" autocomplete="off">
         <label for="text" class="label">Please Enter The Audience's Qrcode</label>
         <input type="text" name="audience" placeholder="Audience's Qrcode" required class="Input" autocomplete="off">
      </form>
   </div>
</body>
</html>
