@font-face {
   font-family: Montserrat;
   src: url(Component/Montserrat-Regular.otf);
}

body {
   margin-left: 10vw;
   margin-right: 10vw;
   background-color: #E9D9C1;
}

div.input_data {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #333333;
   width: 60vw;
   height: 20vh;
   border-radius: 10px;
}

form {
   display: grid;
   grid-template-rows: 68.2px 100px;
}

label.label {
   font-family: Montserrat;
   font-size: 35px;
   color: #E9D9C1;
   justify-self: center;
   align-self: center;
}

input.Input {
   transition: all 0.30s ease-in-out;
   margin: 30px 50px 30px 50px;
   border: 1px solid #E9D9C1;
}

input.Input:focus {
   outline: none;
    box-shadow: 0 0 10px #e62b1e;
}
